{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
Profil
{% endblock %}

{% block content%}
<section>
    <div id="profil">
        <h2 class="border-bottom mb-4">Profil</h2>
        <div class="media">
            <img src="{{ user.profile.image.url }}" class="rounded-circle account-img" alt="">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <div id="profile-change">
            <a class="password-change-t" href="{% url 'password-change' %}">Zmień haslo <i class="fas fa-edit"></i></a>
            <br/>
            <a href="{% url 'email-change' %}">Zmień email <i class="fas fa-edit"></i></a>
            <br/>
            <a href="{% url 'avatar-change' %}">Zmień avatar <i class="fas fa-edit"></i></a>
        </div>
    </div>
</section>
{% endblock %}